{% extends "base.html" %}

{% block metadata %}
<meta http-equiv="refresh" content="10; url={{ url_for('home')}}">
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="page-header">405 - Method not allowed.</h1>
                <div id="error-page_message-container">
                    <p>{{ e }}</p>
                    <p><small>This page will refresh in 10 seconds.</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}