<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover new recipes and perfect them, or share your own.">

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <!-- Add favicon  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>MyRecipe</title>
</head>

<body>
    <header>
        <!-- Account menu dropdown items when logged in -->
        {% if current_user.is_authenticated %}
        <ul id="account-dropdown_menu" class="dropdown-content">
            <li><a href="#">Profile</a></li>
            <li><a href="{{ url_for('my_recipes') }}">My recipes</a></li>
            <li><a href="{{ url_for('saved_recipes') }}">Saved recipes</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        {% endif %}

        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ url_for('home') }}" class="brand-logo left">MyRecipe</a>
                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger right hide-on-med-and-up"><i
                            class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-small-and-down">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                        <!-- Dropdown Trigger -->
                        <li id="account-dropdown">
                            <a class="dropdown-trigger waves-effect waves-light" href="#!"
                                data-target="account-dropdown_menu">
                                <i id="account-dropdown_person-icon" class="material-icons">person</i>
                                {{-current_user.username-}}
                                <i class="material-icons right arrow-dropdown-icon">arrow_drop_down</i>
                            </a>
                        </li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}" class="waves-effect waves-light btn"
                                id="login-btn">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Mobile nav -->
        <ul class="sidenav" id="mobile-sidenav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li id="account-options-title">
                <i id="account-dropdown_person-icon" class="material-icons">person</i>
                {{-current_user.username-}}
            </li>
            <ul id="account-dropdown_menu">
                <li><a href="#">Profile</a></li>
                <li><a href="{{ url_for('my_recipes') }}">My recipes</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
            {% else %}
            <li id="mobile-sidenav_login-btn">
                <a href="{{ url_for('login') }}"><span class="waves-effect waves-light btn"
                        id="login-btn">Login</span></a>
            </li>
            {% endif %}
        </ul>

        <!-- Code from flask.palletsprojects [https://flask.palletsprojects.com/en/2.3.x/patterns/flashing/] -->
        <div id="flash-message" class="flash-message">
            <div class="msg-wrapper">
                {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <p class="{{category}} message">{{message}}</p>
                <span id="flash-message_cross">&times;</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </header>

    <br>

    {% block content %}
    {% endblock %}

    <footer>

    </footer>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Materialize initialization JS -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let elems = document.querySelectorAll('.sidenav');
            M.Sidenav.init(elems);

            let dropdowns = document.querySelectorAll('.dropdown-trigger');

            // Add dropdown options from stackoverflow [https://stackoverflow.com/questions/50051540/materialize-dropdown-options]
            let dropdownOptions = {
                // Make dropdown appear below dropdown trigger from stackoverflow [https://stackoverflow.com/questions/57773699/how-to-make-materializecss-dropdown-appear-below-selectbox]
                coverTrigger: false
            };

            M.Dropdown.init(dropdowns, dropdownOptions);

            let sidenavs = document.querySelectorAll('.sidenav');
            M.Sidenav.init(sidenavs, {
                edge: 'right', // Choose the horizontal origin
                // closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
            });

            /*
                Decided to dismiss the flash message by clicking on the entire div rather than just the cross.
                The cross is there for visual feedback.
            */
            document.getElementById("flash-message").onclick = function () {
                this.style.display = "none";
            };
        });
    </script>

    {% block scripts %}
    {% endblock %}
</body>

</html>