<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Discover new recipes and perfect them, or share your own.">
    {% block metadata %}
    {% endblock %}

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Materialize icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Hint.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css-libraries/hint.css-2.7.0/hint.min.css')}}">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Karla:ital,wght@0,200..800;1,200..800&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

    <!-- Add favicon  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>MyRecipe</title>
</head>

<body>
    <!-- Navbar - Account menu dropdown items when logged in -->
    {% macro nav_menu_items() %}
    <li><a href="{{ url_for('profile') }}">Profile</a></li>
    <li><a href="{{ url_for('my_recipes') }}">My recipes</a></li>
    <li><a href="{{ url_for('add_recipe') }}">Add a recipe</a></li>
    <li><a href="{{ url_for('view_saved_recipes') }}">Saved recipes</a></li>
    <li class="divider"></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endmacro %}

    <header>
        <!-- Account menu dropdown items when logged in -->
        {% if current_user.is_authenticated %}
        <ul id="account-dropdown_menu" class="dropdown-content account-dropdown_menu-items">
            {{ nav_menu_items() }}
        </ul>
        {% endif %}

        <!-- Mobile sidenav items-->
        <ul class="sidenav" id="mobile-sidenav">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
            <li id="account-options-title">
                <i class="account-dropdown_person-icon material-icons">person</i>
                {{-current_user.username-}}
            </li>
            <li>
                <ul class="account-dropdown_menu-items">
                    {{ nav_menu_items() }}
                </ul>
            </li>
            {% else %}
            <li id="mobile-sidenav_login-btn">
                <a href="{{ url_for('login') }}"><span class="waves-effect waves-light btn login-btn">Login</span></a>
            </li>
            {% endif %}
        </ul>

        <!-- Navbar -->
        <nav>
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ url_for('home') }}" class="brand-logo left">MyRecipe</a>
                    <a href="#" data-target="mobile-sidenav" class="sidenav-trigger right hide-on-med-and-up"><i
                            class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-small-and-down">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        {% if current_user.is_authenticated %}
                        <!-- Dropdown Trigger -->
                        <li id="account-dropdown">
                            <a class="dropdown-trigger waves-effect waves-light" href="#!"
                                data-target="account-dropdown_menu">
                                <i class="account-dropdown_person-icon material-icons">person</i>
                                {{-current_user.username-}}
                                <i class="material-icons right arrow-dropdown-icon">arrow_drop_down</i>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('login') }}" class="waves-effect waves-light btn login-btn">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Code from flask.palletsprojects [https://flask.palletsprojects.com/en/2.3.x/patterns/flashing/] -->
        <div id="flash-message" class="flash-message">
            <div class="msg-wrapper">
                {% with messages=get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <p class="{{category}} message">{{message}}</p>
                <span id="flash-message_cross">&times;</span>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
    </header>

    <br>

    {% block content %}
    {% endblock %}

    <footer class="page-footer no-padding">
        <div class="footer-copyright black-text">
            <div class="container">
                © {{ current_date.year }} MyRecipe <small>~ created by Ava</small>
                <a class="black-text right footer_link" target="_blank" href="https://github.com/avabellaw/my-recipe">
                    <img width="24" height="24" src="{{ url_for('static', filename='icons/github.svg')}}"
                        alt="View project on GitHub">
                </a>
            </div>
        </div>
    </footer>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Materialize initialization JS -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>