{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="page-header">Edit recipe</h1>
        </div>
    </div>
    <div class="row equal-height-cols">
        <div class="col s12 m3">
            <div id="recipe-header_image-container" class="valign-wrapper center">
                {% if recipe.original_recipe.image_url == None %}
                <img id="recipe-header_image" src="{{ url_for('static', filename='images/default-recipe-image.webp') }}"
                    alt="Default recipe image" class="responsive-img">
                {% else %}
                <img id="recipe-header_image" src="{{ recipe.original_recipe.image_url }}"
                    alt="{{ recipe.original_recipe.title }}" class="responsive-img">
                {% endif %}
            </div>
        </div>
        <div class="col s12 m9">
            <div id="recipe-heading-container">
                <div id="recipe-title">
                    <!-- Recipe title -->
                    <h2 class="no-margin">
                        {{ recipe.original_recipe.title }}
                    </h2>
                </div>

                <!-- Recipe Description -->
                <p class="">{{ recipe.original_recipe.desc }}</p>

                <!-- Recipe created by -->
                <p id="created-by"><small>~ Originally created by {{ recipe.created_by }}</small></p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <form action="{{ url_for('edit_recipe', recipe_id=recipe.id, modified_recipe=True) }}" method="post"
                enctype="multipart/form-data">
                {{ form.csrf_token }}

                <!-- Extended description field -->
                <div class="input-field">
                    {{ form.extended_desc }}
                    {{ form.extended_desc.label }}
                </div>

                {% for error in form.extended_desc.errors %}
                <p class="validation-message">
                    <i class="material-icons">error_outline</i> {{ error }}
                </p>
                {% endfor %}

                <!-- Ingredients field -->
                <div class="input-field">
                    {{ form.ingredients(class_="materialize-textarea", placeholder="Add each ingredient onto a new
                    line") }}
                    {{ form.ingredients.label }}
                </div>

                {% for error in form.ingredients.errors %}
                <p class="validation-message">
                    <i class="material-icons">error_outline</i> {{ error }}
                </p>
                {% endfor %}

                <!-- Instructions field -->
                <div class="input-field">
                    {{ form.instructions(class_="materialize-textarea", placeholder="Add each instruction onto a new
                    line") }}
                    {{ form.instructions.label }}
                </div>

                {% for error in form.instructions.errors %}
                <p class="validation-message">
                    <i class="material-icons">error_outline</i> {{ error }}
                </p>
                {% endfor %}

                <!-- Dietary Tags -->
                <div class="input-field select-wrapper">
                    {{ form.dietary_tags }}
                    <!-- ID the below <label> is referencing is created by wtforms -->
                    <label for="dietary_tags">Add dietary tags</label>
                </div>

                <!-- Submit form button -->
                <button class="btn waves-effect waves-light orange" type="submit" name="action">Save changes
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<!-- Init dietary tags select field -->
<script src="{{ url_for('static', filename='js/init-select-field.js')}}"></script>

{% endblock %}