{% extends "base.html" %}
{% from "macros.html" import displayRecipes, displaySearchBox %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <img id="hero_image" class="responsive-img" alt="Bright food dishes on a table."
                    src="{{ url_for('static', filename='images/bright-dishes.webp') }}">

                <p id="hero_tagline">Discover new recipes and make them yours.</p>
            </div>
        </div>
       {{ displaySearchBox(search_form) }}
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Amazon buckets test</h2>
                {% for bucket in buckets %}
                <p>{{ bucket }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        {{ displayRecipes(recipes) }}
    </div>
</section>
{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        select = document.querySelectorAll('select');
        M.FormSelect.init(select);

        document.getElementsByClassName("select-dropdown")[0].placeholder = "Add dietary filters";
    });
</script>

{% endblock %}