<!-- Displays recipe dietary tags -->
{% macro displayDietaryTags(recipe) %}

{% if recipe.has_dietary_tags %}

<div class="dietary-tag-container">
    {% if recipe.is_vegan %}
    <div class="dietary-tag hint--bottom" aria-label="Vegan">
        <img src="{{ url_for('static', filename='images/dietary-tags/vegan-icon.webp')}}" alt="Vegan symbol" width="32" height="32">
    </div>
    {% endif %}

    {% if recipe.is_vegetarian %}
    <div class="dietary-tag hint--bottom" aria-label="Vegetarian">
        <img src="{{ url_for('static', filename='images/dietary-tags/vegetarian-icon.webp')}}" alt="Vegetarian symbol" width="32" height="32">
    </div>
    {% endif %}

    {% if recipe.is_gluten_free %}
    <div class="dietary-tag hint--bottom" aria-label="Gluten-Free">
        <img src="{{ url_for('static', filename='images/dietary-tags/gluten-free-icon.webp')}}" alt="Gluten-Free symbol" width="32" height="32">
    </div>
    {% endif %}

    {% if recipe.is_dairy_free %}
    <div class="dietary-tag hint--bottom" aria-label="Dairy-Free">
        <img src="{{ url_for('static', filename='images/dietary-tags/dairy-free-icon.webp')}}" alt="Dairy-Free symbol" width="32" height="32">
    </div>
    {% endif %}

    {% if recipe.is_nut_free %}
    <div class="dietary-tag hint--bottom" aria-label="Nut-Free">
        <img src="{{ url_for('static', filename='images/dietary-tags/nut-free-icon.webp')}}" alt="Nut-Free symbol" width="32" height="32">
    </div>
    {% endif %}

    {% if recipe.is_egg_free %}
    <div class="dietary-tag hint--bottom" aria-label="Egg-Free">
        <img src="{{ url_for('static', filename='images/dietary-tags/egg-free-icon.webp')}}" alt="Egg-Free symbol" width="32" height="32">
    </div>
    {% endif %}
</div>

{% endif %}

{% endmacro %}

<!-- Displays all recipes passed to it -->
{% macro displayRecipes(recipes) %}

{% for recipe in recipes %}
<div class="row">
    <div class="col s12">
        <div class="recipe-card">
            <h3 class="recipe-card_title header">
                <span class="recipe-title">{{ recipe.title }}</span>
                {% if recipe.original_recipe != null %}
                <span class="recipe-card_modified-tag">Modified</span>
                {% endif %}
            </h3>
            <!-- Display dietary tags -->
            {{ displayDietaryTags(recipe) }}
            <div class="card horizontal">
                <div class="card-image">
                    {% if recipe.image_url == None %}
                    <img src="{{ url_for('static', filename='images/default-recipe-image.webp') }}"
                        alt="Default recipe image">
                    {% else %}
                    <img src="{{ recipe.image_url }}" alt="Recipe image">
                    {% endif %}
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        {% if recipe.original_recipe != null %}
                        <a href="{{ url_for('view_recipe', recipe_id=recipe.original_recipe.id)}}">View original recipe,
                            created by {{ recipe.created_by }}</recipe></a>
                        <p>"{{ recipe.desc }}"</p>
                        <p><em>{{ recipe.extended_desc }}</em></p>
                        {% else %}
                        <p>{{ recipe.desc }}</p>
                        {% endif %}
                    </div>
                    <div class="card-action">
                        <a class="view-recipe-btn" href="{{ url_for('view_recipe' if recipe.original_recipe == null else 'view_modified_recipe', recipe_id=recipe.id) }}">View
                            Recipe</a>
                        <p class="card_created-by right">
                            <small>
                                {% if recipe.original_recipe != null %}
                                ~ Modified by {{ recipe.modified_by }}
                                {% else %}
                                ~ Created by {{ recipe.created_by }}
                                {% endif %}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endmacro %}

<!-- Displays the search box -->

{% macro displaySearchBox(search_form) %}

<div id="search-box">
    <form action="{{ url_for('search') }}" method="GET">
        <div class="row">
            <div class="col s12">
                <label for="search_bar" id="search-box_header">Search for a recipe:</label>
            </div>
            <div class="col s12 m7">
                <div id="search-form">
                    {{ search_form.search_bar }}

                    <button class="btn waves-effect waves-light orange" type="submit" name="action">
                        <i class="material-icons">search</i>
                    </button>
                </div>

            </div>
            <div class="col s12 m5">
                <div id="search-tags">
                    {{ search_form.dietary_tags }}
                </div>
            </div>
        </div>
        
        {% for error in search_form.search_bar.errors %}
        <p class="validation-message">
            <i class="material-icons">error_outline</i> {{ error }}
        </p>
        {% endfor %}
    </form>
</div>

{% endmacro %}

<!-- Load preview image function for image-upload.onchange to use -->

{% macro loadPreviewImageFunction() %}
<script>
    function previewImage(event) {
        // Preview image before upload from StackOverflow[https://stackoverflow.com/questions/4459379/preview-an-image-before-it-is-uploaded]
        let output = document.getElementById('recipe-header_image');
        output.classList.remove('hide');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>
{% endmacro %}