{% extends "base.html" %}
{% from "macros.html" import displayRecipes %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1 class="page-header">Your recipes</h1>

            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('add_recipe') }}" class="waves-effect waves-light btn">
                Add new recipe
            </a>
        </div>
    </div>
    {{ displayRecipes(recipes) }}
</div>

{% endblock %}