{% extends "base.html" %}

{% if recipe.original_recipe == null %}
{% set isModifiedRecipe = false %}
{% else %}
{% set isModifiedRecipe = true %}
{% endif %}

{% if not isModifiedRecipe %}
{% set isOwnedByUser = current_user.id == recipe.user_id %}
{% else %}
{% set isOwnedByUser = current_user.id == recipe.modified_by_id %}
{% endif %}

{% block content %}

<section id="recipe-content">
    <div class="container">
        <div class="row equal-height-cols">
            <div class="col s12 m5">
                <div id="recipe-header_image-container" class="valign-wrapper center">
                    {% if recipe.image_url == None %}
                    <img id="recipe-header_image"
                        src="{{ url_for('static', filename='images/default-recipe-image.webp') }}"
                        alt="Default recipe image" class="responsive-img">
                    {% else %}
                    <img id="recipe-header_image" src="{{ recipe.image_url }}" alt="{{ recipe.title }}"
                        class="responsive-img">
                    {% endif %}
                </div>
            </div>
            <div class="col s12 m7">
                <div id="recipe-heading-container">
                    <div id="recipe-title">
                        <!-- Recipe title -->
                        <h2>
                            {{ recipe.title }}
                            {% if isModifiedRecipe %}
                            <span class="recipe-card_modified-tag">Modified</span>
                            {% endif %}
                        </h2>
                        {% if current_user.is_authenticated %}
                        {% if isOwnedByUser %}

                        <!-- Settings dropdown trigger -->
                        <a class='dropdown-trigger orange-text' href='#' data-target='recipe-settings'>
                            <i class="material-icons">settings</i>
                            EDIT RECIPE
                        </a>
                        {% else %}
                        <!-- Save recipe heart -->
                        <button id="save-recipe-button" aria-labelledby="save-recipe-button_text" class="orange-text">
                            {% if recipe_is_saved %}
                            <i class="material-icons">favorite</i>
                            <span id="save-recipe-button_text">UNSAVE</span>
                            {% else %}
                            <i class="material-icons">favorite_border</i>
                            <span id="save-recipe-button_text">SAVE</span>
                            {% endif %}
                        </button>

                        {% endif %}
                        {% endif %}
                    </div>

                    {% if not isModifiedRecipe and isOwnedByUser == false %}
                    <a id="template-button" href="{{ url_for('add_modified_recipe', recipe_id=recipe.id) }}"
                        class="btn orange darken-3">
                        Use as template
                    </a>
                    {% endif %}

                    {% if isOwnedByUser %}
                    <!-- Settings dropdown -->
                    <ul id='recipe-settings' class='dropdown-content'>
                        <li><a href="#!">Edit</a></li>
                        <li><a class="modal-trigger" href="#confirm-deletion">Delete</a></li>
                    </ul>

                    <!-- Confirm deletion modal -->
                    <div id="confirm-deletion" class="modal">
                        <div class="modal-content">
                            <h4>Delete this recipe.</h4>
                            <p>Are you sure you want to delete this recipe?</p>
                            <p><small>This is permanent.</small></p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                                class="modal-close waves-effect waves-green btn-flat">Delete</a>
                        </div>
                    </div>

                    {% endif %}

                    <!-- Recipe dietary tags -->
                    <div id="dietary-tags">
                        {% if recipe.is_vegan %}
                            <img src="{{ url_for('static', filename='images/dietary-tags/vegan-icon.webp')}}" alt="Vegan">
                        {% endif %}

                        {% if recipe.is_vegetarian %}
                        <img src="{{ url_for('static', filename='images/dietary-tags/vegetarian-icon.webp')}}" alt="Vegetarian">
                        {% endif %}

                        {% if recipe.is_gluten_free %}
                        <img src="{{ url_for('static', filename='images/dietary-tags/gluten-free-icon.webp')}}" alt="Gluten Free">
                        {% endif %}

                        {% if recipe.is_dairy_free %}
                        <img src="{{ url_for('static', filename='images/dietary-tags/dairy-free-icon.webp')}}" alt="Dairy Free">
                        {% endif %}

                        {% if recipe.is_nut_free %}
                        <img src="{{ url_for('static', filename='images/dietary-tags/nut-free-icon.webp')}}" alt="Nut Free">
                        {% endif %}
                    </div>

                    <!-- Recipe Description -->
                    {% if isModifiedRecipe %}
                    <a href="{{ url_for('view_recipe', recipe_id=recipe.original_recipe.id)}}">View original recipe,
                        created by {{ recipe.created_by }}</a>
                    <p>"{{ recipe.desc }}"</p>
                    <p><em>{{ recipe.extended_desc }}</em></p>
                    {% else %}
                    <p>{{ recipe.desc }}</p>
                    {% endif %}

                    <!-- Recipe created by -->
                    <p id="created-by">
                        <small>
                            {% if isModifiedRecipe %}
                            ~ Modified by {{ recipe.modified_by }}
                            {% else %}
                            ~ Created by {{ recipe.created_by }}
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m5">
                <div id="ingredients-container">
                    <div class="inner-container">
                        <h2 class="center">Ingredients</h2>
                        <hr>
                        <ul class="browser-default">
                            <!-- splitlines from Python docs [https://docs.python.org/3/library/stdtypes.html#str.splitlines] -->
                            {% for ingredient in recipe.ingredients.splitlines(keepends=True) %}
                            <li>
                                {{ ingredient }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m7">
                <div id="instructions-container">
                    <div class="inner-container">
                        <h2 class="center">Instructions</h2>
                        <hr>
                        <ol>
                            {% for instruction in recipe.instructions.splitlines(keepends=True) %}
                            <li>
                                {{ instruction }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.modal');
        M.Modal.init(elems);
    });
</script>

{% if current_user.is_authenticated and not isOwnedByUser %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let saveRecipeButton = document.getElementById("save-recipe-button");
        saveRecipeButton.addEventListener('click', (event) => {
            // If the browser has JavaScript enabled, AJAX will be used to add recipe to saved recipes.

            // Stops page from refreshing when saving or unsaving recipes.
            event.preventDefault();

            // Send POST request using AJAX [https://www.tutorialspoint.com/how-to-stop-refreshing-the-page-on-submit-in-javascript]
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "{{ url_for('toggle_save_recipe', recipe_id=recipe.id) }}");
            xhr.send(); // Blank, only needs the request and the recipe ID.
            xhr.onload = function () {
                let text = saveRecipeButton.childNodes[1].innerText;

                if (text == "favorite") {
                    saveRecipeButton.childNodes[1].innerText = "favorite_border";
                    saveRecipeButton.childNodes[3].innerText = "SAVE";
                } else {
                    saveRecipeButton.childNodes[1].innerText = "favorite";
                    saveRecipeButton.childNodes[3].innerText = "UNSAVE";
                }
            };
        });
    });
</script>
{% endif %}

{% endblock %}