{% extends "base.html" %}

{% block content %}

{% set isOwnedByUser = current_user.id == recipe.user_id %}

<section id="recipe-header">
    <div class="container">
        <h1 class="page-header">
            {{ recipe.title }}
            {% if isOwnedByUser %}
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger orange-text' href='#' data-target='recipe-settings'> <i
                    class="material-icons">settings</i></a>
            {% endif %}
        </h1>

        {% if isOwnedByUser %}
        <!-- Dropdown Structure -->
        <ul id='recipe-settings' class='dropdown-content'>
            <li><a href="#!">Edit</a></li>
            <li><a class="modal-trigger" href="#confirm-deletion">Delete</a></li>
        </ul>

        <!-- Confirm deletion modal -->
        <div id="confirm-deletion" class="modal">
            <div class="modal-content">
                <h4>Delete this recipe.</h4>
                <p>Are you sure you want to delete this recipe?</p>
                <p><small>This is pernament.</small></p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}"
                    class="modal-close waves-effect waves-green btn-flat">Delete</a>
            </div>
        </div>

        {% endif %}
        
        <br>
        <div class="row">
            <div class="col s12">
                <div class="valign-wrapper center">
                    <img id="recipe-header_image" src="{{ recipe.image_url }}" alt="Recipe image"
                        class="responsive-img">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <p class="center">{{ recipe.desc }}</p>
                <p class="right no-margin"><small>~ Created by {{ recipe.created_by }}</small></p>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="recipe-content">
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <div id="ingredients-container">
                    <div class="inner-container">
                        <h2>Ingredients</h2>
                        <ul class="browser-default">
                            <!-- splitlines from Python docs [https://docs.python.org/3/library/stdtypes.html#str.splitlines] -->
                            {% for ingredient in recipe.ingredients.splitlines(keepends=True) %}
                            <li>
                                {{ ingredient }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m7">
                <div id="instructions-container">
                    <div class="inner-container">
                        <h2>Instructions</h2>
                        <p>{{ recipe.instructions }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.modal');
        M.Modal.init(elems);
    });
</script>

{% endblock %}