{% extends "base.html" %}

{% block content %}

{% set isOwnedByUser = current_user.id == recipe.user_id %}

<section id="recipe-header">
    <div class="container">
        <h1 class="page-header">
            {{ recipe.title }}
            {% if isOwnedByUser %}
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger orange-text' href='#' data-target='recipe-settings'> <i class="material-icons">settings</i></a>

            <!-- Dropdown Structure -->
            <ul id='recipe-settings' class='dropdown-content'>
                <li><a href="#!">Edit</a></li>
                <li><a href="#!">Delete</a></li>
            </ul>
            {% endif %}
        </h1>
        <br>
        <div class="row">
            <div class="col s12">
                <div class="valign-wrapper center">
                    <img id="recipe-header_image" src="{{ recipe.image_url }}" alt="Recipe image"
                        class="responsive-img">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s10 offset-s1">
                <p class="center">{{ recipe.desc }}</p>
                <p class="right no-margin"><small>~ Created by {{ recipe.created_by }}</small></p>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="recipe-content">
    <div class="container">
        <div class="row">
            <div class="col s12 m5">
                <div id="ingredients-container">
                    <div class="inner-container">
                        <h2>Ingredients</h2>
                        <ul class="browser-default">
                            <!-- splitlines from Python docs [https://docs.python.org/3/library/stdtypes.html#str.splitlines] -->
                            {% for ingredient in recipe.ingredients.splitlines(keepends=True) %}
                            <li>
                                {{ ingredient }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m7">
                <div id="instructions-container">
                    <div class="inner-container">
                        <h2>Instructions</h2>
                        <p>{{ recipe.instructions }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}