/* Navbar */

nav, nav > .nav-wrapper {
    background-color: #ffa96c;
}

nav > .nav-wrapper a {
    color: rgb(0, 0, 0);
}

nav > .nav-wrapper ul a {
    font-size: 1.2em;
}

#login-btn {
    margin-right: 0;
    background-color: #ffc87f;
    text-transform: capitalize;
    border-radius: 10%;
}

#login-btn:hover {
    background-color: #ffcd61;
}

nav > .nav-wrapper{
    margin: 0 1rem;
    position: relative;
}

/* End of Navbar */

