/* Navbar */

nav > .nav-wrapper a {
    color: black;
}

nav > .nav-wrapper ul a {
    font-size: 1.2em;
}

#login-btn {
    margin-right: 0;
    background-color: #fdb7b7;
    text-transform: capitalize;
}

#login-btn:hover {
    background-color: #ff9393;
}

nav > .nav-wrapper{
    padding: 0 1rem;
}

/* End of Navbar */

